.container__main {
  flex: 1 1 auto;
  overflow-y: auto;
}

.square {
  box-shadow: 5px 5px 20px #e74c3c;
  height: 200px;
  width: 200px;
  margin: 1rem;
  transition: all 0.2s ease;
}

.square:hover {
  transform: scale(1.15);
}

.wrap-hole {
  height: 100%;
}
