.main-nav-link {
  flex: 1 1 auto;
  position: relative;
  padding: 5px;
}

.main-nav-link a {
  color: black;
  text-decoration: none;
}

.main-nav-link a:hover {
  color: black;
  text-decoration: none;
}

.main-nav-link:hover {
  background-color: lightgray;
}

.vertical-nav-bar {
  z-index: 30;
  height: 97vh;
}
